<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
     .error {
        color: #bd2130;
     }
  </style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<form class="row g-3" action="/members/login" method="post">
			<div>
				<label th:for="name">이메일주소</label> 
				<input type="email" name="email" id="email" class="form-control" placeholder="이메일을 입력해주세요.">
			</div>
			<div >
				<label th:for="password">비밀번호</label> 
				<input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력해주세요.">
			</div>
			<div>
				<p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
				<label><input type="checkbox" name="id_save" id="id_save" />아이디 기억</label>
				<button type="submit" class="btn btn-primary mb-3" id="loginbtn">로그인</button>
				<button type="button" class="btn btn-primary mb-3" onClick="location.href='/members/new'">회원가입</button> <!-- 회원가입 페이지로 이동하는 버튼 --> 
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		</form>
	</div>
</body>
</html>